@model EECCORP.Models.Event

<div class="week week-@Model.Week">
    <span>
        @Html.CheckBoxFor(m => m.IsSelected, new { @class = "event-checkbox" })
        @Html.HiddenFor(m => m.Id)
    </span>
    <span>
        <b>
            @Html.Raw(Model.Summary)
        </b>
    </span>
    <span>
        @Html.Raw(Model.Start.ToShortDateString())
    </span>
</div>