
@{
    ViewBag.Title = "UalbertaRequired";
}

<h2>An email account from the University of Alberta is required</h2>

<p>
    This system requires all accounts be registered to an email account from the 
    University of alberta (email@ualberta.ca)
</p>

